.navigation__container {
  position: fixed;
  bottom: 20px;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  align-items: flex-end;
  z-index: 4;
  max-height: calc(100vh - 40px);
  /* max-width: 400px; */
  /* width: 100%; */
  /* overflow-y: auto; */
  padding: 10px;
}

.navigation__container > .navigation__item {
  color: var(--accent);
  width: 50px;
  height: 50px;
  aspect-ratio: 1 / 1;
  padding: 10px;
}

.navigation__item__icon.--menu {
  animation: toTop 0.5s;
}

.navigation {
  /* position: fixed;
  bottom: 0;
  right: 0; */
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  gap: 10px;
  align-items: flex-end;
  z-index: 4;
  max-height: calc(100vh - 40px);
  max-width: 400px;
  width: 100%;
  /* overflow-y: auto; */
  background-color: var(--accent);
  padding: 10px;
  border-radius: 1em;
  /* border: 1px solid var(--accent); */
  transition: 0.5s;
}

.navigation::-webkit-scrollbar {
  display: none;
}

.navigation__item {
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #444; */
  animation: toTop 0.5s;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  text-decoration: none;
  border-radius: 0.5em !important;
  transition: 0.5s;
  flex-grow: 1;
  transition: 0.5s;
}

.navigation__item:first-child {
  flex-grow: 0;
}

.navigation__theme {
  display: flex;
  gap: 5px;
  /* background-color: var(--accent); */
  border-radius: 0.5em !important;
  animation: toTop 0.5s;
  flex-grow: 1;
  overflow: hidden;
}

.navigation__theme .navigation__item {
  /* background: none; */
  border-radius: 0 !important;
}

.navigation__theme .navigation__item:first-child {
  flex-grow: 1;
}

.navigation__item__icon {
  font-size: 18px;
  color: var(--accent);
}

.navigation__item__icon.--light {
  color: #ffff00;
}

.navigation__item__icon.--dark {
  color: #7700ff;
}

.navigation__item__title {
  font-size: 12px;
}

.navigation > .navigation__item:nth-child(1) {
  /* height: 50px; */
  font-size: 18px;
  /* border-radius: 50% !important; */
  /* color: var(--accent); */
  /* flex-grow: 0; */
}

.navigation__item__icon.--close {
  color: #fd2d2d;
}

.navigation__item.--logout, .navigation__item.--logout .navigation__item__icon {
  color: #fd2d2d;
}

.bg-zen-dark.navigation__item.--zen, .bg-zen-dark.navigation__item.--zen .navigation__item__icon {
  color: #94cef5;
}

.bg-zen-light.navigation__item.--zen, .bg-zen-light.navigation__item.--zen .navigation__item__icon {
  color: #303030;
}

.navigation__item.--login{
  color: var(--accent);
}

/* .navigation__item:nth-child(2) .navigation__item__icon {
  color: #2d64fd;
}

.navigation__item:nth-child(3) .navigation__item__icon {
  color: #fd2d2d;
}

.navigation__item:nth-child(4) .navigation__item__icon {
  color: #17cc90;
} */
