.calculate {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

.calculate__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.calculate__inputs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  flex-grow: 1;
  padding: 0 10px;
}

.calculate__inputs__group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  /* border-radius: 0.25em !important; */
  /* aspect-ratio: 1/1; */
  animation: toTop 0.5s;
  position: relative;
  transition: 0.5s;
}

.calculate__inputs__add-btn {
  border: none;
  cursor: pointer;
  background: none;
}

.calculate__inputs__add-btn__icon {
  padding: 10px;
  font-size: 2em;
  border-radius: 50%;
  transition: 0.5s;
}

.calculate__inputs__group__close-odd3 {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: #fd2d2d;
  border-radius: 50%;
  border: none;
  padding: 5px;
  box-shadow: 0 0 5px #7c7c7c75;
}

.calculate__inputs__group__label {
  display: flex;
  flex-direction: column;
  /* aspect-ratio: 1 / 1; */
  /* padding: 10px; */
  /* width: 100%; */
}

.calculate__inputs__group__label:first-child {
  gap: 3px;

}

.calculate__inputs__group__label__title {
  font-size: 0.8em;
}

.calculate__inputs__group__label__input {
  padding: 10px;
  border-radius: 0.5em;
  border: none;
  max-width: 100%;
  flex-grow: 1;
  /* text-align: center; */
  font-size: 1em;
  outline: none;
  transition: 0.5s;
}

.calculate__inputs__group__label__input.--place {
  padding: 0;
  background: none;
  color: var(--accent);
}

.calculate__inputs__group__result {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding: 10px; */
}

.calculate__inputs__group__result__place,
.calculate__inputs__group__result__return {
  display: flex;
  flex-direction: column;
}

.calculate__inputs__group__result__place__title,
.calculate__inputs__group__result__return__title {
  font-size: 0.8em;
}

.calculate__inputs__group__result__place__value {
  color: var(--accent);
}

.calculate__inputs__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  /* background-color: var(--accent); */
  /* border-radius: 0.25em !important; */
  justify-content: space-between;
  animation: toTop 0.5s;
  transition: 0.5s;
}

.calculate__inputs__details__place {
  display: flex;
  gap: 3px;
  flex-direction: column;
  /* align-items: center; */
}

.calculate__inputs__details__place__title,
.calculate__inputs__details__return__title,
.calculate__inputs__details__profit__title {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  gap: 3px;
  transition: 0.5s;
}

.calculate__inputs__details__place__title__icon,
.calculate__inputs__details__return__title__icon,
.calculate__inputs__details__place__title__icon {
  font-size: 14px;
}

.calculate__inputs__details__place__value,
.calculate__inputs__details__return__value {
  font-size: 0.8em;
}

.calculate__inputs__details__profit {
  border-radius: 0.25em;
  overflow: hidden;
  transition: 0.5s;
}

.calculate__inputs__details__profit__value {
  font-size: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

.calculate.--loss .calculate__inputs__details__profit__value {
  background-color: #fd2d2d;
  background: linear-gradient(74deg, #fd2d2d 0%, #fd2d2de3 100%);
}

.calculate.--win .calculate__inputs__details__profit__value {
  background: #17cc90;
  background: linear-gradient(74deg, #17cc90 0%, #17cc90e3 100%);
}
