.logo {
  /* flex-grow: 1; */
  width: 100%;
  font-size: 1.5em;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo__slogan {
  font-size: 0.6em;
  font-style: italic;
}

.logo__slogan__sure {
  color: var(--accent);
}
