.create {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* align-items: center; */
  gap: 30px;
}

.create__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create__loading {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  animation: toTop 0.5s;
}

.create__loading__icon {
  font-size: 4em;
  color: #c1c1c1;
}

.create__view {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  /* padding: 20px; */
  justify-content: center;
  animation: toTop 0.5s;
}

.create__view__sport {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 20px 0; */
}

.create__view__sport__option {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  border-radius: 0.25em;
  cursor: pointer;
  flex-grow: 1;
  border: none;
  opacity: 0.3;
}

.create__view__sport__option.--selected {
  opacity: 1;
}

.create__view__inputs {
  display: grid;
  flex-grow: 1;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 20px;
  min-width: 40%;
  transition: 0.5s;
  /* justify-items: flex-start; */
}

.create__view__inputs__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  justify-content: center;
}

.create__view__inputs__label__text {
  align-items: center;
  display: flex;
  font-size: 0.7em;
  gap: 5px;
}

.create__view__inputs__label__text__icon {
  font-size: 18px;
}

.create__view__inputs__label__input {
  /* background-color: #f1f1f1; */
  border: none;
  border-radius: 0.5em;
  /* flex-grow: 1; */
  outline: none;
  padding: 10px;
  width: 100%;
  transition: 0.5s;
}

.create__view__inputs__freebet {
  display: flex;
  align-items: flex-end;
}

.create__view__inputs__freebet__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 0.7em;
  padding: 10px;
  border-radius: 0.5em;
  width: 100%;
  justify-content: center;
}

.create__view__inputs__freebet__label.--is-free {
  background: linear-gradient(74deg, #17cc90 0%, #17cc90ad 100%);
  color: #fff;
}

.create__view__inputs__freebet__label__input {
  display: none;
}

.create__view__inputs__freebet__label__icon {
  font-size: 16px;
}

.create__view__inputs__betting-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 150px;
  gap: 10px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  padding: 10px 0;
}

.create__view__inputs__betting-options::-webkit-scrollbar {
  display: none;
}

.create__view__inputs__betting-options__option {
  scroll-snap-align: start;
  align-self: center;
  display: flex;
  transition: 0.5s;
  height: 40px;
  aspect-ratio: 1/1;
}

.create__view__inputs__betting-options__option.--not-selected {
  filter: grayscale(0.5);
  opacity: 0.3;
}

.create__view__inputs__betting-options__option:hover {
  opacity: 1;
  filter: none;
}

.create__view__inputs__betting-options__option__logo {
  width: 100%;
  cursor: pointer;
  border-radius: 0.25em;
}

.create__view__inputs__save {
  background-color: var(--accent);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 16px;
  /* grid-column-end: 3;
  grid-column-start: 1; */
  margin-block-start: 20px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  gap: 8px;
  transition: 0.5s;
}

.create__view__inputs__save:disabled {
  opacity: 0.2;
  cursor: not-allowed;
  background-color: #9e9e9e;
}

.create__view__inputs__save__icon {
  font-size: 18px;
}

.react-datepicker-popper {
  z-index: 2 !important;
}
