.section-title {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
}

.section-title__icon {
  font-size: 18px;
  color: #666;
}

.section-title__text {
  font-size: 15px;
  font-weight: 100;
  color: #999;
}