.help {
  display: flex;
  padding: 0 10px;
  gap: 10px;
  flex-direction: column;
}

.help__steps {
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.help__steps__step {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: toTop 0.5s;
}

.help__steps__step__text {
  transition: 0.5s;
}

.help__steps__step__text__link {
  color: var(--accent);
  cursor: pointer;
}

.help__steps__step__guide {
  font-size: 0.8em;
  font-style: italic;
}