.balance {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.balance__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  color: #818181;
  transition: 0.5s;
}

.balance__card:hover {
  scale: 1.02;
}

.balance__card:nth-child(1) {
  background: #2097e6;
  background: linear-gradient(74deg, #2097e6 0%, #7abae6 100%);
  color: #fff;
}

.balance__card__title {
  display: flex;
  font-size: 12px;
  /* align-items: center; */
  gap: 10px;
  color: #444;
}

.balance__card:nth-child(1) .balance__card__title {
  color: #fff;
}

.balance__card__title__icon {
  font-size: 15px;
}
